Repository usmanAfzalKhan/vue-forecast, pull requests merged in 2024-03, with the labels that each got.

#2 chore: add server requirements file
  .gitignore
  server/requirements.txt
Labels: dependencies

#3 chore: add makefile for server setup
  server/makefile
Labels: server

#4 feat(client): add weather display component
  client/src/App.vue
  client/src/components/weather-display/WeatherDisplay.vue
Labels: enhancement, client

#5 feat(client): add search box component
  client/src/App.vue
  client/src/components/search-box/SearchBox.vue
Labels: enhancement, client

#6 feat: add weather api route
  server/api/__init__.py
  server/api/weather.py
  server/constants/__init__.py
  server/constants/endpoints.py
  server/server.py
Labels: enhancement, server

#7 feat(client): add units conversion button
  client/package-lock.json
  client/package.json
  client/src/App.vue
  client/src/main.js
Labels: enhancement, client

#8 refactor(client): migrate to TypeScript
  .gitignore
  .vscode/extensions.json
  client/README.md
  client/babel.config.js
  client/index.html
  client/jsconfig.json
  client/package-lock.json
  client/package.json
  client/public/favicon.ico
  client/public/index.html
  client/public/vite.svg
  client/src/assets/logo.png
  client/src/assets/style.scss
  client/src/components/HelloWorld.vue
  client/src/components/app/App.vue
  client/src/components/index.ts
  client/src/components/search-box/SearchBox.vue
  client/src/components/weather-display/WeatherDisplay.vue
  client/src/main.js
  client/src/main.ts
  client/src/vite-env.d.ts
  client/tsconfig.json
  client/tsconfig.node.json
  client/vite.config.ts
  client/vue.config.js
Labels: client

#9 feat: add Swagger UI
  server/api/__init__.py
  server/api/weather.py
  server/constants/endpoints.py
  server/requirements.txt
  server/server.py
  server/shared/__init__.py
  server/shared/docs/docs.py
Labels: documentation, server, dependencies

#11 style(client): update weather display
  client/src/components/app/App.vue
  client/src/components/weather-display-mini/WeatherDisplayMini.vue
  client/src/components/weather-display/WeatherDisplay.vue
Labels: client
